.h1-title {
  font-weight: bold;
  text-align: center;
  margin: 0 auto 0 auto;
}

p {
  text-align: justify;
}

.badges {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0 0 0;
}


html[data-theme="light"] {
  --pst-color-primary: darkgreen;
}

html[data-theme="dark"] {
  --pst-color-primary: rgb(127, 224, 127);
}